@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.nav-bar {
    background-color: #f6f6f6;
    box-shadow: 0px 0px 15px #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;

}

.nav-bar-logo {
    font-size: 35px;
}

.nav-bar-logo span {
    color: #4E71FF;
}

main {
    margin-top: 70px;
}

.sidebar {
    background-color: #f6f6f6;
    width: 300px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.sidebar h3 {
    margin-block: 30px;
    padding-left: 20px;
    font-size: 15px;
}

.sub_menu,
.left_sub_menu {
    display: flex;
    align-items: center;
}

.sub_menu {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sub_menu.active {
    color: #4E71FF;
}

.sub_menu.active a.left_sub_menu {
    color: #4E71FF;
}

.sub_menu.active .left_sub_menu p {
    font-size: 19px;
}

.sub_menu .left_sub_menu svg {
    transition: .2s;
}

.sub_menu.active .left_sub_menu svg {
    width: 26px;
}

.sub_menu .left_sub_menu {
    display: flex;
    gap: 10px;
}

.sub_menu .left_sub_menu p {
    font-size: 16px;
    transition: .2s;
}

.sub_menu .show_drop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_menu .show_drop img {
    width: 13px;
}

.menu_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu_items {
    padding: 0px 20px;
}

.menu_items svg {
    width: 18px;
}

.sub_menu:hover,
.sub_menu:hover a.left_sub_menu {
    color: #4E71FF;
}


.logout a {
    color: #4E71FF;
    cursor: pointer;
    border: 1px solid #4E71FF;
    padding: 7px 20px;
    transition: .3s;
    text-decoration: none;
}

.logout a:hover {
    background-color: #4E71FF;
    color: white;
}

.sub_menu_wrapper {
    display: none;
}

.sub_menu_items {
    margin-top: 15px;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-left: 15px;
}

.sub_menu_items li .link_to_page {
    color: #939394;
    position: relative;
    width: 100%;
    display: block;
    padding-left: 25px;
}



.sub_menu_items::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #758ded;
}

.sub_menu_items li .link_to_page:hover {
    color: #899ff5;
}

.sub_menu_items li .link_to_page::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translate(-50%, 50%);
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #758ded;
    opacity: 0;
}

.sub_menu_items li .link_to_page:hover::before {
    opacity: 1;
}

.sub_menu_items li .link_to_page.circle {
    color: #6c87f4;
}

.sub_menu_items li .link_to_page.circle::before {
    opacity: 1;
}


main {
    display: flex;
}

.section {

    margin: 40px;
    width: 100%;
}

.dashboard_header {
    position: relative;
}

.dashboard_header .dash_right_img {
    position: absolute;
    top: -50%;
    right: 30px;
    z-index: -1;
}

.dashboard_title {
    background-color: rgba(252, 197, 197, 0.588);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-inline: 30px;
    margin-bottom: 20px;
    width: 600px;
    height: fit-content;
}


.dashboard_title h3 {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
    color: rgb(255, 135, 135);
    
}

.dashboard_title p {
    font-size: 12px;
    line-height: 20px;
    color: rgb(133, 133, 133);
}

.dashboard_title img {
    width: 150px;

}

.cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.cards .card {
    min-width: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    padding-block: 35px;
    color: white;
    border-radius: 20px;
}

.cards .card:nth-child(1) {
    background-color: #4db9ca;
}
.cards .card:nth-child(2) {
    background-color: rgb(94, 250, 94);
}
.cards .card:nth-child(3) {
    background-color: #d8b35d;
}
.cards .card:nth-child(4) {
    background-color: rgb(250, 94, 208);
}

.cards .card h6 {
    font-size: 27px;
}

.cards .card .card_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}